extends layout

block content
  h1.
    User List
  ul
    each user, i in userlist
      li
        // a(href="mailto:#{user.email}")= user.username
        .row
          .col-lg-6
            p #{user.username} and the email: #{user.email}